@use "variables" as *;
.seccion{
    margin-top: calc($space / 2);
    margin-bottom: calc($space / 2);
}
.content-center {
    max-width: 800px;
}
.container{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
