@use 'sass:color';
@use '../../../base/scss/variables' as v;

.bg-blue-50 {
    background-color: color.scale(v.$info, $lightness: 40%);
}

.text-blue-600 {
    color: v.$info;
}

.text-blue-900 {
    color: color.scale(v.$info, $lightness: -20%);
}

.border-blue-100 {
    border-color: color.scale(v.$info, $lightness: 30%);
}