@import '../../base/scss/variables';

.admin-layout {
    font-family: $primary-font;

    .sidebar {
        @extend .shadow-sm;
        z-index: 50;
    }

    .card-kpi {
        @extend .shadow-sm;
        border: 1px solid $border-light;
        border-radius: $radius-xl;
        padding: $s-6;
        transition: transform 0.2s;

        &:hover {
            transform: translateY(-2px);
        }
    }
}