@use 'sass:color';
@use '../base/scss/variables' as v;
@use '../base/scss/mixins' as m;

.admin-layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: v.$gray-100;

    .admin-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .admin-content {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: v.$gray-100;
        padding: v.$s-6;

        @include m.tablet {
            padding: v.$s-8;
        }
    }
}
